.color_enlace, #datos_manual, #datos_listas, 
#datos_manual_alternativo, #datos_listas_alternativas 
{
	font: italic;
	color: #0000FF;
}

#con_ciudad, #sin_ciudad, #con_municipio, #sin_municipio, #con_asentamiento, #sin_asentamiento, 
#con_ciudad_alternativa, #sin_ciudad_alternativa, #con_municipio_alternativo, #sin_municipio_alternativo, #con_asentamiento_alternativo, #sin_asentamiento_alternativo
{
	display: inline;
}


#etiqueta
{
	display: inline;
}

#titulo_datos_especificos
{
	background-color: #666666;
	
}

#datos_especificos
{
	background-color: #666666;
	
}

.todos_los_campos 
{
	background-color: #F8F8F8;;
}


#sin_cp, #datos_correo_repetido, #datos_correo_alternativo_repetido
{
	width: 150em;
	display: inline;
	color: #FF0000;	
}

